{% comment -%}
이 모듈이 생성하는 변수:

TABLE_OF_CONTENTS
  <UL.toc> 전체 문서 목차. _data/toc.yml 에서 정의

{% endcomment -%}

{% capture TABLE_OF_CONTENTS %}
<ul>
{% comment -%} 홈페이지 {% endcomment %}
  <li class="toc-1 home">
  {% assign home = site.docsurl | relative_url -%}
  {% if home == page.url -%}
    <a class="active" href="">{{ site.title }}</a>
  {% else -%}
    <a href="{{ site.docsurl | absolute_url }}">{{ site.title }}</a>
  {% endif -%}
  </li>
  {% comment -%} 문서 나열 {% endcomment %}
  {% for chapter in site.data.toc -%}
  {% assign doc_dir = "/" | append: site.docsurl | append: chapter[0] | append: "/" -%}
  {% assign doc = site.html_pages | where: 'dir', doc_dir | first -%}
  {% comment -%} 문서 나열: 장 목록 {% endcomment %}
  <li class="toc-1">
    <a>{{ doc.title }}</a>
    <ul>
    {% comment -%} 문서 나열: 절 목록 {% endcomment %}
    {% for doc_name in chapter[1] -%}
      {% assign doc_dir = "/" | append: site.docsurl | append: chapter[0] | append: "/" | append: doc_name | append: "/" -%}
      {% assign doc = site.html_pages | where: 'dir', doc_dir | first -%}
      <li class="toc-2">
      {% if doc.url == page.url -%}
        <a class="active" href="">{{ doc.title }}</a>
      {% else -%}
        <a href="{{ doc.url | absolute_url }}">{{ doc.title }}</a>
      {% endif -%}
        </li>
    {% endfor -%}
    </ul>
  </li>
  {% endfor -%}
  {% comment -%} 종이책 버전 {% endcomment %}
  {% assign textbook_dir = "/" | append: site.docsurl | append: "textbook" | append: "/" -%}
  {% assign textbook_doc = site.html_pages | where: 'dir', textbook_dir | first -%}
  <li class="toc-1">
    <a href="{{ site.docsurl | append: "textbook" | absolute_url }}">{{ textbook_doc.title }}</a>
  </li>
  {% comment -%} 버전 기록 {% endcomment %}
  {% assign changes_dir = "/CHANGES/" -%}
  {% assign changes_doc = site.html_pages | where: 'dir', changes_dir | first -%}
  <li class="toc-1">
    <a href="{{ "/CHANGES" | absolute_url }}">{{ changes_doc.title }}</a>
  </li>
</ul>
{% endcapture -%}
