a 
  text-decoration: none
article
  padding: 1rem 0.5rem
  line-height: 1.8em
  max-width: 800px
  h1
    text-align: center
    margin-bottom: 1.2em
  h2
    padding: 0.3em 0
    border-bottom: material-color('blue', '500') solid 2px
  h3
    color: material-color('blue', '600')
  img
    max-width: 100%