div.highlighter-rouge
  overflow-x: auto
  background: material-color('blue-grey', '900')
  color: material-color('blue-grey', '50')
  .highlight
    td.rouge-gutter
      min-width: 1.5em
      padding: 0 0.3rem
      line-height: 1.4em
    td.rouge-code
      line-height: 1.4em
    .lineno
      font-weight: bold
      text-align: right
    .kn, .k
      font-weight: bold
      color: material-color('pink', '500')
    .nf
      font-weight: bold
      color: material-color('green', '400')
    .s
      color: material-color('yellow', '400')
    .mi, .bp
      color: material-color('purple', '300')


