@media (max-width: $article_width + $sidebar_width)
  #open-sidebar
    display: block
  aside
    position: absolute
    left: 0
    top: 0
    width: 0
    min-height: 100vh

@media (max-width: $article_width)
  article
    width: auto
    p > img
      display: block
      margin: auto
      float: none
      max-width: 100%
