<!DOCTYPE html>
<html lang="ko">
{% include docs_loader.html -%}
{% include article_loader.html -%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% if page.url == "/" %}
  <meta http-equiv="refresh" content="0;URL='{{ site.docsurl | absolute_url }}'" />
  {% endif %}
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body, {delimiters: [{left: '\\[', right: '\\]', display: true},{left: '$', right: '$', display: false}]});">
  </script>
  <script defer src="{{ "js\onload.js" | absolute_url }}"></script>
  <link rel="stylesheet" href="{{ "css/main.css" | absolute_url }}">
</head>
<body>
  <div id="open-sidebar" onclick="openSidebar()">목차</div>
  <div id="close-sidebar" onclick="closeSidebar()"></div>
  <aside id="toc-sidebar">
    {{ TABLE_OF_CONTENTS }}
  </aside>
  <main>
    <article>
      {{ CONTENT }}
    </article>
  </main>
</body>
</html>